@import "variables.scss";

:host {
    display: block;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: $content-width;
        padding: $content-padding;
        border: $light-border;
        border-radius: $default-border-radius;
        box-shadow: $default-box-shadow;
    
        img {
            width: 100%;
            max-width: 100%;
            border-radius: $default-border-radius;
        }
    
        .details {
            display: flex;
            flex-direction: column;
            height: auto;
            width: 100%;
    
            h2 {
                margin: 0;
            }

            .details-footer {
                display: flex;
                align-items: flex-end;
                margin-top: auto;

                .tech {
                    padding: 0 5px;
                    margin-right: 3px;
                    border-radius: $default-border-radius;
                    background: $color-background-grey;
                    color: $color-accent;
                }

                .repoLink {
                    display: inline-block;
                    margin-left: auto;
    
                    &:visited {
                        color: initial;
                    }
                }
            }
        }
    
        @media screen and (min-width: $small-screen-break-point) {
            flex-direction: row;
    
            img {
                width: 30%;
            }
    
            .details {
                margin-left: $content-padding;
                align-self: stretch;

                .details-footer {
                    margin-top: auto;
                }
            }
        }
    }
}