<header class="jumbotron">
  <h1>Just yell <span class="quote">"RYAN!!"</span> really loudly</h1>
  <p>or...</p>
</header>
<main>
  <a
    href="https://github.com/RyanClementsHax"
    class="social-link github-link"
    rel="noopener noreferrer"
    target="_blank">
    <i class="fab fa-5x fa-github"></i>
    <h2>Git Hub</h2>
  </a>
  <a
    href="https://twitter.com/RyanClementsHax"
    class="social-link twitter-link"
    rel="noopener noreferrer"
    target="_blank">
    <i class="fab fa-5x fa-twitter"></i>
    <h2>Twitter</h2>
  </a>
  <a
    href="https://www.linkedin.com/in/ryan-clements-ab7764102/"
    class="social-link linkedin-link"
    rel="noopener noreferrer"
    target="_blank">
    <i class="fab fa-5x fa-linkedin"></i>
    <h2>Linkedin</h2> 
  </a>
  <a
    href="mailto:ryanclementsuf@gmail.com"
    class="social-link gmail-link">
    <i class="fas fa-5x fa-envelope"></i>
    <h2>Gmail</h2> 
  </a>
</main>