@import "variables.scss";

.jumbotron {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: $jumbotron-height;
    padding: $content-padding;
    background: $color-primary-faded;

    h1 {
        margin: 0;

        .quote {
            color: $color-accent;
        }
    }

    p {
        position: absolute;
        margin: 0 auto;
        bottom: 15px;
    }
}

main {
    @media screen and (min-width: $small-screen-break-point) {
        height: $min-page-height;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
    }

    .social-link {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 70px 20px;
    
        h2 {
            display: inline-block;
            margin: 0;
            margin-left: 30px;
            font-size: 3em;
        }
    
        h2, i {
            color: white;
        }
    
        &.github-link {
            background: #24292e;
        }
    
        &.twitter-link {
            background: #1da1f2;
        }
    
        &.linkedin-link {
            background: #0077b5;
        }
    
        &.gmail-link {
            background: #d93025;
        }
    
        &:hover {
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        }

        @media screen and (min-width: $small-screen-break-point) {
            padding: 20px 50px;
            margin-top: 20px;
            border-radius: 50px;
        }
    }
}