@import "../../../variables.scss";

:host {
    width: 100%;
    position: relative;
    padding-top: $nav-bar-height;

    nav-bar {
        position: absolute;
        top: 0;
    }

    footer {
        height: 50px;
        border-top: $light-border;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;

        .copyRight {
            padding-left: 1rem;
        }
    }
}