@import "../../../../../variables.scss";

.jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: $jumbotron-height;
    background: $color-primary-faded;
    background-image: url('/assets/img/header.jpg');
    background-size: cover;

    h1 {
        margin: 0;
    }

    h2 {
        color: $color-accent;
        margin: 0;
    }
}

article {
    .paragraphWrapper {
        margin: auto;
        max-width: $content-width;
        padding: $content-padding;
    }
}