<header parallax [config]="parallaxConfig" class="jumbotron">
    <div class="title-container">
        <h1>Ryan&nbsp;Clements</h1>
        <h2><em>Chief&nbsp;Coffee Fetcher&nbsp;Extraordinaire</em></h2>
    </div>
</header>
<main>
    <article>
        <header class="content-header">
            <h2>About the Man, the Myth, the Legend</h2>
            <a
                href="https://www.youtube.com/watch?v=8F9jXYOH2c0"
                rel="noopener noreferrer"
                target="_blank">
                <i class="fas fa-external-link-alt"></i>
            </a>
        </header>
        <p>
            I love coding, good dogs, and taking pictures on peoples' phones when they walk away 
            (check the jumbotron above). I have interned over the summer and worked part time while 
            attending the University of Florida at Infinite Energy working on both front and back end 
            dev, as well as a custom hybrid mobile app. Aside from his stay at Infinite Energy, I have 
            interned twice at Ultimate Software working on front end projects. In my spare time I like 
            working out, going to church, and making cool stuff (like this website #shamelessPlug).
        </p>
    </article>
</main>