<header parallax [config]="parallaxConfig" class="jumbotron">
    <div class="title-container">
        <h1>Ryan&nbsp;Clements</h1>
        <h2><em>Chief&nbsp;Coffee Fetcher&nbsp;Extraordinaire</em></h2>
    </div>
</header>
<main>
    <article>
        <header class="content-header">
            <h2>About the Man, the Myth, the Legend</h2>
            <a
                href="https://www.youtube.com/watch?v=8F9jXYOH2c0"
                rel="noopener noreferrer"
                target="_blank">
                <i class="fas fa-external-link-alt"></i>
            </a>
        </header>
        <p>
            I love coding, good dogs, and looking cool in suits. I have had many amazing experiences being able 
            to create awesome software. From front end to back end, I seem to enjoy anything that can get me in front 
            of a computer to do what I love to do most: <em>break things until they work</em>. In my spare time I like 
            working out, going to church, and making cool stuff (like this website #shamelessPlug).
        </p>
    </article>
</main>