@import "../../../variables.scss";

$button-border-right: 5px;

:host {
    width: 100%;
    height: $nav-bar-height;
    background: $color-background-main;

    .nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        border-bottom: $light-border;
    
        .small-nav-container {
            display: flex;
        }
    
        .nav-links {
            margin-top: 0;
            margin-left: auto;
            margin-bottom: 0;
            padding: 0;
        }
    
        .link-container {
            cursor: pointer;
            display: inline-block;
            background: $color-background-main;
        }
    
        .nav-button {
            display: block;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: .2em;
            padding: $text-padding;
            -webkit-appearance: none;

            &:visited {
                color: inherit;
            }
        }
        
        .nav-button:hover {
            color: $color-primary;
            background-color: $color-primary-faded;
            border-right: $button-border-right solid $color-accent;
            padding-right: calc(#{$text-padding} - #{$button-border-right});
        }
    
        .nav-toggle {
            cursor: pointer;
            display: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            margin-left: auto;
            border: 0;
            padding: 0 $text-padding;
            background: $color-background-main;
    
            svg {
                width: 2rem;
                height: 2rem;
            }
        }
    
        .nav-toggle.expanded {
            background: $color-primary-faded;
        }
    }
    
    @media screen and (max-width: 45em) {
        .nav-bar {
            flex-direction: column;
    
            .nav-links {
                display: flex;
                flex-direction: column;
                width: 100%;
                overflow: hidden;
                transition: max-height 250ms;
    
                .link-container {
                    border-top: $light-border;
        
                    .nav-link {
                        width: 100%;
                    }
                }
            }
        
            .nav-toggle {
                display: block;
            }
        }
    }
}
