<nav class="nav-bar">
  <a class="nav-button">Ryan Clements</a>
  <button
    type="button"
    aria-label="Toggle menu"
    class="nav-toggle nav-button"
    [ngClass]="expanded ? 'expanded' : ''"
    (click)="toggleMenu()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 30 30"
      width="30"
      height="30"
      focusable="false">
      <title>Menu</title>
      <path
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-miterlimit="10"
        d="M4 7h22M4 15h22M4 23h22">
      </path>
    </svg>
  </button>
  <ul class="nav-links" [ngClass]="expanded ? 'expanded' : ''">
    <li class="nav-button nav-link">Item 1</li>
    <li class="nav-button nav-link">Item 2</li>
    <li class="nav-button nav-link">Item 3</li>
  </ul>
</nav>