<nav class="nav-bar">
  <div class="small-nav-container">
    <a class="nav-button" routerLink="/">Ryan Clements</a>
    <button
      type="button"
      aria-label="Toggle menu"
      class="nav-toggle nav-button"
      [ngClass]="expanded ? 'expanded' : ''"
      (click)="toggleMenu()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 30 30"
        width="30"
        height="30"
        focusable="false">
        <title>Menu</title>
        <path
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-miterlimit="10"
          d="M4 7h22M4 15h22M4 23h22">
        </path>
      </svg>
    </button>
  </div>
  <ul
    #links 
    class="nav-links"
    [ngStyle]="{ 'maxHeight': expanded ? linksMaxHeight + 'px' : 0 }">
    <li class="link-container">
      <div class="nav-button nav-link">Item 1</div>
    </li>
    <li class="link-container">
      <div class="nav-button nav-link">Item 2</div>
    </li>
    <li class="link-container">
      <div class="nav-button nav-link">Item 3</div>
    </li>
  </ul>
</nav>