@import "variables.scss";

:host {
    display: block;
    
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: $content-width;
        padding: $content-padding;
        border: $light-border;
        border-radius: $default-border-radius;
        box-shadow: $default-box-shadow;

        img {
            width: 100%;
            max-width: 100%;
            border-radius: $default-border-radius;
        }

        .details {
            display: flex;
            flex-direction: column;
            height: auto;
            width: 100%;

            h2 {
                margin: 0;
            }

            .details-footer {
                margin-top: auto;

                .tech {
                    display: inline-block;
                    padding: 0 5px;
                    margin-top: 3px;
                    margin-right: 3px;
                    border-radius: $default-border-radius;
                    background: $color-background-grey;
                    color: $color-accent;
                }
            }
        }

        @media screen and (min-width: $small-screen-break-point) {
            flex-direction: row;
            align-items: flex-start;

            img {
                width: 30%;
            }

            .details {
                margin-left: $content-padding;
                align-self: stretch;
            }
        }
    }
}