@import "variables.scss";

:host {
    display: block;
    
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: $content-width;
        padding: $content-padding;
        border: $light-border;
        border-radius: $default-border-radius;
        box-shadow: $default-box-shadow;

        img {
            width: 100%;
            max-width: 100%;
            border-radius: $default-border-radius;
        }

        .details {
            display: flex;
            flex-direction: column;
            height: auto;
            width: 100%;

            .details-header {
                margin-top:  $content-padding;

                h2, h3 {
                    margin: 0;
                }

                .subtitle {
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;
                    font-size: 0.9em;
                }
            }

            .details-footer {
                margin-top: auto;

                .linkUrls {
                    display: flex;
                    
                    .disabled-wrapper {
                        cursor: not-allowed;
                    }
    
                    .linkUrl {
                        margin-right: 5px;

                        &.disabled {
                            pointer-events: none;
                            opacity: 0.5;
                        }
        
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .technologies {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;

                    .tech {
                        display: inline-block;
                        padding: 0 5px;
                        margin-top: 3px;
                        margin-right: 3px;
                        border-radius: $default-border-radius;
                        background: $color-background-grey;
                        color: $color-accent;
                    }
                }
            }
        }

        @media screen and (min-width: $small-screen-break-point) {
            flex-direction: row;
            align-items: flex-start;

            img {
                width: 30%;
            }

            .details {
                margin-left: $content-padding;
                align-self: stretch;

                .details-header {
                    margin-top: 0;
                }
            }
        }
    }
}