@import "variables.scss";

:host {
    display: block;
    min-height: $min-page-height;
    padding: $content-padding;

    h1 {
        text-align: center;
        margin-top: 50px - $content-padding;
        margin-bottom: 50px;
    }
    
    .project-list {
        display: flex;
        flex-direction: column;
        align-items: center;

        project-presentation {
            margin-bottom: 50px;
        }
    }
}